<!DOCTYPE html>
<html lang="ko">

<head>
  <!-- Title -->
  <title>데이터브릿지</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Favicon -->
  <link rel="shortcut icon" href="../favicon.ico">
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="../assets/vendor/bootstrap/bootstrap.min.css">
  <!-- CSS Global Icons -->
  <link rel="stylesheet" href="../assets/vendor/icon-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../assets/vendor/icon-line/css/simple-line-icons.css">
  <link rel="stylesheet" href="../assets/vendor/icon-etlinefont/style.css">
  <link rel="stylesheet" href="../assets/vendor/icon-line-pro/style.css">
  <link rel="stylesheet" href="../assets/vendor/icon-hs/style.css">
  <link rel="stylesheet" href="../assets/vendor/animate.css">
  <link rel="stylesheet" href="../assets/vendor/dzsparallaxer/dzsparallaxer.css">
  <link rel="stylesheet" href="../assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
  <link rel="stylesheet" href="../assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
  <link rel="stylesheet" href="../assets/vendor/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="../assets/vendor/fancybox/jquery.fancybox.css">
  <link rel="stylesheet" href="../assets/vendor/hs-megamenu/src/hs.megamenu.css">
  <link rel="stylesheet" href="../assets/vendor/hamburgers/hamburgers.min.css">

  <!-- CSS Unify -->
  <link rel="stylesheet" href="../assets/css/unify-core.css">
  <link rel="stylesheet" href="../assets/css/unify-components.css">
  <link rel="stylesheet" href="../assets/css/unify-globals.css">

  <!-- JS Global Compulsory -->
  <script src="../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
  <script src="../assets/vendor/popper.js/popper.min.js"></script>
  <script src="../assets/vendor/bootstrap/bootstrap.min.js"></script>

  <!-- JS Implementing Plugins -->
  <script src="../assets/vendor/appear.js"></script>
  <script src="../assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
  <script src="../assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
  <script src="../assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
  <script src="../assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
  <script src="../assets/vendor/slick-carousel/slick/slick.js"></script>
  <script src="../assets/vendor/fancybox/jquery.fancybox.min.js"></script>

  <!-- JS Unify -->
  <script src="../assets/js/hs.core.js"></script>
  <script src="../assets/js/components/hs.header.js"></script>
  <script src="../assets/js/helpers/hs.hamburgers.js"></script>
  <script src="../assets/js/components/hs.tabs.js"></script>
  <script src="../assets/js/components/hs.carousel.js"></script>
  <script src="../assets/js/components/hs.progress-bar.js"></script>
  <script src="../assets/js/components/hs.popup.js"></script>
  <script src="../assets/js/components/hs.go-to.js"></script>

  <!-- 데이터브릿지 -->
  <link rel="stylesheet" href="../assets/css/custom-font.css">
  <link rel="stylesheet" href="../assets/css/custom-lib.css">
  <link rel="stylesheet" href="../assets/css/custom-layout.css">
  <link rel="stylesheet" href="../assets/css/custom-template.css">
  <link rel="stylesheet" href="../assets/vendor/jquery-ui/themes/redmond/jquery-ui.css">
  <script src="../assets/vendor/jquery-ui/jquery-ui.js"></script>
  <script src="../assets/js/custom-lib.js"></script>

</head>

<body>

<!--◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇ #containers ◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇-->    
<div id="container">

<noscript><p>자바 스크립트 사용이 중지되었습니다. 홈페이지의 전체 기능을 사용하기 위해 JavaScript가 필요합니다. 사용할 수 있도록 설정하십시오.</p></noscript>
<!-- #skipnav -->
<div id="skipnav">
	<ul>
	<li><a href="#body">본문 바로가기</a></li>
	</ul>
</div>
<!-- /#skipnav -->


<!--◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆ #head ◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆-->
<div id="head" class="init">
  <!-- #head_s1 -->
  <div id="head_s1" class="clearfix">
    <!-- containers -->
    <div class="containers">

	    <!-- #logo -->
      <h1 id="logo"><a href="#" ><span class="blind">데이터브릿지</span></a></h1>
      <!-- /#logo -->
      <!-- #gn1 -->
      <div id="gn1">
        <ul id="gn1c1" class="clearfix"> 
          <li><a><i class="ic_coin1"></i>320,000</a></li>
          <li><a href="#">마이페이지</a></li>
          <li><a href="#">로그아웃</a></li>
        </ul>
      </div>
      <!-- /#gn1 -->				
    </div>
    <!-- /containers -->   
  </div>
  <!-- /#head_s1 -->     
	
  <!-- #head_s2 -->
  <div id="head_s2" class="clearfix"><div class="bg2"></div>
    <!-- containers -->
    <div class="containers">
      <!-- #visual -->
      <div id="visual">

        <!-- join -->
        <div class="join">
          <h1>회원가입</h1>
          <div class="step clearfix"><i class="line1"></i><i class="line2"></i>
            <ul>
              <li><i class="b1"></i><i class="ic1"></i><span class="t1">본인인증</span></li>
              <li class="on"><i class="b1"></i><i class="ic1"></i><span class="t1">회원정보 입력</span></li>
              <li><i class="b1"></i><i class="ic1"></i><span class="t1">회원가입 완료</span></li>
            </ul>
          </div>
        </div>
        <!-- /join -->             
                              
      </div>
      <!-- //#visual -->
    </div>
    <!-- /containers --> 		
  </div>
  <!-- /#head_s2 -->     	  

</div>
<!--◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆ /#head ◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆-->  

<hr class="dpn" />

<!--◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆ #main_wrap ◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆-->  
<div id="wrap" class="init">

  <!-- containers --> 
  <div class="containers">  
    <!-- ◆◆◆ #body ◆◆◆ --> 
    <div id="body">      
      <!-- #body_content -->
      <div id="body_content" class="clearfix">      
  
        <!-- step2 -->
        <div class="join step2">
          <div class="h2tit">
            <h2 class="bh1">회원정보 입력</h2>
            <p class="tpar"><em class="required" title="필수항목">*</em> 필수입력사항</p>
          </div>
          <table class="t2">
            <col style="width:220px" />
            <col />
            <tr>
                <th scope="row"><label for="f1input">아이디 <em class="required" title="필수항목">*</em></label></th>
                <td><input type="input" id="f1input" lang="en" autocomplete="off" style="width:64.5%" />
                <button class="b1 default1">중복체크</button></td>
            </tr>
            <tr>
              <th scope="row"><label for="f1password">비밀번호 <em class="required" title="필수항목">*</em></label></th>
              <td><input type="password" id="f1password" lang="en" autocomplete="off" /></td>
            </tr>  
            <tr>
              <th scope="row"><label for="f1password_re">비밀번호 확인 <em class="required" title="필수항목">*</em></label></th>
              <td><input type="password" id="f1password_re" lang="en" autocomplete="off" /></td>
            </tr>
            <tr>
              <th scope="row"><label for="f1name">이름 <em class="required" title="필수항목">*</em></label></th>
              <td><input type="input" id="f1name" /></td>
            </tr>  
            <tr>
               <th scope="row"><label for="f1birthday">생년월일</label></th>
              <td>
                <input class="calendar" id="f1birthday" />
              </td>
            </tr>
            <tr>
              <th scope="row"><label for="f1email">이메일 <em class="required" title="필수항목">*</em></label></th>
              <td><input type="input" id="f1email" placeholder="이메일 주소" /></td>
            </tr>  
            <tr>
              <th scope="row"><label>성별 <em class="required" title="필수항목">*</em></label></th>
             <td>
              <input type="radio" name="f1gender1" id="f1gender1e0" />
              <label for="f1gender1e0">남자</label>
              &nbsp;&nbsp;&nbsp;
              <input type="radio" name="f1gender1" id="f1gender1e1" />
              <label for="f1gender1e1">여자</label>
             </td>
           </tr>                
          </table>  
          
          <div class="h2tit">
              <h2 class="bh1">약관동의</h2>
              <p class="tpar"><input type="checkbox" id="f1agree0" value="1" /> <label for="f1agree0">전체 동의합니다.</label></p>
              <ul class="terms clearfix">
                <li>
                  <input type="checkbox" id="f1agree1" value="1" /> <label for="f1agree1">이용약관 동의 <em class="required" title="필수항목">(필수)</em></label>
                  <a href="#agreement1" class="b1 toggle">약관보기</a>
                </li>
                <li id="agreement1" style="display:none;">
                    <span class="agree_cont">
                    약관 내용이 들어갑니다.                    
                    </span>                     
                </li>
                <li>
                  <input type="checkbox" id="f1agree2" value="1" /> <label for="f1agree2">개인정보 취급방침 동의 <em class="required" title="필수항목">(필수)</em></label>
                  <a href="#agreement2" class="b1 toggle">약관보기</a>
                </li>
                <li id="agreement2" style="display:none;">
                    <span class="agree_cont">
                    약관 내용이 들어갑니다.                    
                    </span>                  
                  </li>                
                <li>
                  <input type="checkbox" id="f1agree3" value="1" /> <label for="f1agree3">마케팅 정보 수신 동의 (선택)</label>
                  <a href="#agreement3" class="b1 toggle">약관보기</a>
                </li>
                <li id="agreement3" style="display:none;">
                    <span class="agree_cont">
                    약관 내용이 들어갑니다.                    
                    </span>                   
                  </li>                
              </ul>
            </div>             
        </div>
        <!-- /step2 -->

          <div class="btns tac">
            <button class="b1 cancel1">회원가입</button>
            <button class="b1 submit1">초기화</button>            
          </div>
        

  <!-- 레이어 팝업 : 프로그램 전 style="display:block" 지워주세요 -->
  <!-- layerPop_system1 -->
  <div id="layerPop_system1" class="layerPopSystem init" style="display:block"><div class="bg1"></div>   
  <div class="wrap">
    <div class="layerPop_head">		
      <div class="containers">     
        <h2>알림</h2>
        <a href="#layerPop_system1" class="b1 toggle close"><i class="ic_close"></i><span class="blind">창닫기</span></a>
      </div>
    </div>
    <div class="layerPop_body init">
      <div class="containers">      

          <div class="bSystemNote">
            <div class="inner">
              <p class="t1">중복된 아이디입니다.</p>
              <a href="#layerPop_system1" class="b1 toggle">확인</a>
            </div>
          </div>
        
      </div> 
    </div>
  </div>
  <!-- // layerPop_system1 -->  



      </div>
      <!-- /#body_content -->        
    </div>
    <!-- ◆◆◆ /#body ◆◆◆ --> 
  </div>
  <!-- /containers -->   
  
</div>
<!--◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆ /#main_wrap ◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆-->  

<hr class="dpn" />

<!--◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆ /#foot ◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆--> 
<div id="foot" class="init">
  <!-- container -->
  <div class="containers clearfix">
    <h2 class="blind">하단 정보</h2>

    <!-- #fn1 -->
    <div id="fn1">
    <ul class="clearfix">
    <li><a href="#">서비스 소개</a></li>
    <li><a href="#">개인정보처리방침</a></li>
    <li><a href="#">이용약관</a></li>
    </ul>
    </div>
    <!-- /#fn1 -->

    <!-- author1 -->
    <div id="author1">
      <strong class="h1 blind">작성자 (연락처/저작권)</strong>
      <p id="foot_logo"><span class="blind">데이터브릿지</span></p>
      <address class="address">경상남도 창원시 의창구 팔룡동 충혼로 91 창원문성대학교 벤처창업관 케이데이터랩 / 대표전화 : +82-055-980-3388 / 팩스번호 : +82-055-980-3399</address>
      <p class="nophishing">본 사이트에 게시된 이메일주소의 자동수집을 거부하며, 이를 위반 시 정보통신망법에 의해 형사처벌됨을 유념하시기 바랍니다.</p>
      <address class="copyright">COPYRIGHT (C) 2020 BY KDATALAB ALL RIGHTS RESERVED. </address>
    </div>
    <!-- /author1 -->

  </div>
  <!-- /containers --> 
</div>
<!--◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆ /#foot ◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆-->  


</div>   
<!--◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇ /#containers ◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇-->


</body>

</html>
