<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <!-- Title -->
  <title>데이터브릿지</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Favicon -->
  <link rel="shortcut icon" href="favicon.ico">
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="/assets/vendor/bootstrap/bootstrap.min.css">
  <!-- CSS Global Icons -->
  <link rel="stylesheet" href="/assets/vendor/icon-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/vendor/icon-line/css/simple-line-icons.css">
  <link rel="stylesheet" href="/assets/vendor/icon-etlinefont/style.css">
  <link rel="stylesheet" href="/assets/vendor/icon-line-pro/style.css">
  <link rel="stylesheet" href="/assets/vendor/icon-hs/style.css">
  <link rel="stylesheet" href="/assets/vendor/animate.css">
  <link rel="stylesheet" href="/assets/vendor/dzsparallaxer/dzsparallaxer.css">
  <link rel="stylesheet" href="/assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
  <link rel="stylesheet" href="/assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
  <link rel="stylesheet" href="/assets/vendor/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="/assets/vendor/fancybox/jquery.fancybox.css">
  <link rel="stylesheet" href="/assets/vendor/hs-megamenu/src/hs.megamenu.css">
  <link rel="stylesheet" href="/assets/vendor/hamburgers/hamburgers.min.css">

  <!-- CSS Unify -->
  <link rel="stylesheet" href="/assets/css/unify-core.css">
  <link rel="stylesheet" href="/assets/css/unify-components.css">
  <link rel="stylesheet" href="/assets/css/unify-globals.css">

  <!-- JS Global Compulsory -->
  <script src="/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
  <script src="/assets/vendor/popper.js/popper.min.js"></script>
  <script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>

  <!-- JS Implementing Plugins -->
  <script src="/assets/vendor/appear.js"></script>
  <script src="/assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
  <script src="/assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
  <script src="/assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
  <script src="/assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
  <script src="/assets/vendor/slick-carousel/slick/slick.js"></script>
  <script src="/assets/vendor/fancybox/jquery.fancybox.min.js"></script>

  <!-- JS Unify -->
  <script src="/assets/js/hs.core.js"></script>
  <script src="/assets/js/components/hs.header.js"></script>
  <script src="/assets/js/helpers/hs.hamburgers.js"></script>
  <script src="/assets/js/components/hs.tabs.js"></script>
  <script src="/assets/js/components/hs.carousel.js"></script>
  <script src="/assets/js/components/hs.progress-bar.js"></script>
  <script src="/assets/js/components/hs.popup.js"></script>
  <script src="/assets/js/components/hs.go-to.js"></script>

  <!-- 데이터브릿지 -->
  <link rel="stylesheet" href="/assets/css/custom-font.css">
  <link rel="stylesheet" href="/assets/css/custom-lib.css">
  <link rel="stylesheet" href="/assets/css/custom-layout.css">
  <link rel="stylesheet" href="/assets/css/custom-template.css">
  <script src="/assets/vendor/jquery-ui/jquery-ui.js"></script>
  <script src="/assets/js/custom-lib.js"></script>

  <script th:inline="javascript">
    function fnSearch(){
      var schSubject = $("#schSubject").val();
      var schEduType = $("#schEduType").val();
      var schActiveYn = $("#schActiveYn").val();

      location.href = "sub?schSubject="+schSubject+"&schEduType="+schEduType+"&schActiveYn="+schActiveYn;
    }

    function fnSetActiveYn(activeYn){
      $("#schActiveYn").val(activeYn);

      fnSearch();
    }

    function fnSetEduType(eduType){
      $("#schEduType").val(eduType);

      fnSearch();
    }

  </script>

</head>

<body>

<!--◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇ #containers ◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇-->
<div id="container">

  <noscript><p>자바 스크립트 사용이 중지되었습니다. 홈페이지의 전체 기능을 사용하기 위해 JavaScript가 필요합니다. 사용할 수 있도록 설정하십시오.</p></noscript>
  <!-- #skipnav -->
  <div id="skipnav">
    <ul>
      <li><a href="#body">본문 바로가기</a></li>
    </ul>
  </div>
  <!-- /#skipnav -->


  <!--◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆ #head ◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆-->

  <div id="head" class="init">
    <!-- #head_s1 -->
    <div id="head_s1" class="clearfix">
      <!-- containers -->
      <div class="containers">

        <!-- #logo -->
        <h1 id="logo"><a href="/" ><span class="blind">데이터브릿지</span></a></h1>
        <!-- /#logo -->
        <!-- #gn1 -->
        <div id="gn1">
          <ul id="gn1c1" class="clearfix">
            <li sec:authorize="isAuthenticated()"><a><i class="ic_coin1"></i><span th:text="${#numbers.formatInteger(userInfo.nowpoint, 0, 'COMMA')}">320,000</span></a></li>
            <li sec:authorize="isAuthenticated()"><a href="#">마이페이지</a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/user/logout}">로그아웃</a></li>
            <li sec:authorize="!isAuthenticated()"><a href="/login">로그인</a></li>
            <li sec:authorize="!isAuthenticated()"><a href="/join/sign">회원가입</a></li>
          </ul>
        </div>
        <!-- /#gn1 -->
      </div>
      <!-- /containers -->
    </div>
    <!-- /#head_s1 -->

    <!-- #head_s2 -->
    <div id="head_s2" class="clearfix"><div class="bg1"></div>
      <!-- containers -->
      <div class="containers">
        <!-- #visual -->
        <div id="visual">

          <!-- search1 -->
          <div class="search1">
            <form>
              <input type="hidden" name="schEduType" id="schEduType" th:value="${params.schEduType}">
              <input type="hidden" name="schActiveYn" id="schActiveYn" th:value="${params.schActiveYn}">
              <fieldset>
                <legend class="blind"><strong>통합검색</strong></legend>
                <input type="text" name="schSubject" id="schSubject" th:value="${params.schSubject}" placeholder=" 작업명으로 검색" title="검색어" />
                <button type="submit"><i class="ic1"></i><span class="blind">검색</span></button>
              </fieldset>
            </form>
          </div>
          <!-- /search1 -->

          <!-- category1 -->
          <div class="category1">
            <button class="c0" th:classappend="${params.schEduType} == '' ? 'on' : ''" onclick="fnSetEduType();"><i class="b1"></i><i class="ic1"></i><span class="t1">전체</span></button>
            <button class="c1" th:classappend="${params.schEduType} == 'text' ? 'on' : ''" onclick="fnSetEduType('text');"><i class="b1"></i><i class="ic1"></i><span class="t1">TEXT</span></button>
            <button class="c2" th:classappend="${params.schEduType} == 'survey' ? 'on' : ''" onclick="fnSetEduType('survey');"><i class="b1"></i><i class="ic1"></i><span class="t1">설문조사</span></button>
            <button class="c3" th:classappend="${params.schEduType} == 'image' ? 'on' : ''" onclick="fnSetEduType('image');"><i class="b1"></i><i class="ic1"></i><span class="t1">IMAGE</span></button>
            <button class="c4" th:classappend="${params.schEduType} == 'voice' ? 'on' : ''" onclick="fnSetEduType('voice');"><i class="b1"></i><i class="ic1"></i><span class="t1">VOICE</span></button>
          </div>
          <!--/category1-->

          <a href="/rank" class="view_lank"><i class="ic1"></i><span class="t1">주간랭킹<br />보기</span></a>

        </div>
        <!-- //#visual -->
      </div>
      <!-- /containers -->
    </div>
    <!-- /#head_s2 -->

  </div>
  <!--◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆ /#head ◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆-->

  <hr class="dpn" />

  <!--◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆ #main_wrap ◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆-->
  <div id="wrap" class="init">

    <!-- containers -->
    <div class="containers">
      <!-- ◆◆◆ #body ◆◆◆ -->
      <div id="body">
        <!-- #body_head -->
        <div id="body_head">
          <h1>WORK LIST</h1>
        </div>
        <!-- /#body_head -->
        <!-- #body_content -->
        <div id="body_content" class="clearfix">

          <!-- bTab1 -->
          <div class="bTab1">
            <ul>
              <li th:classappend="${params.schActiveYn} == '' ? 'on' : ''"><a href="javascript:fnSetActiveYn();">전체</a></li>
              <li th:classappend="${params.schActiveYn} == 'ing' ? 'on' : ''"><a href="javascript:fnSetActiveYn('ing');">진행중</a></li>
              <li th:classappend="${params.schActiveYn} == 'cmp' ? 'on' : ''"><a href="javascript:fnSetActiveYn('cmp');">완료</a></li>
            </ul>
          </div>
          <!--//  bTab1 -->
          <!-- bList1 -->
          <div class="bList1 clearfix"><!-- 완료된 work 에는 class="s1" 적용 -->
            <ul>
              <li th:if="${#lists.size(eduList)} > 0" th:each="list:${eduList}" th:classappend="${list.eduActiveYn} == N ? s1">
                <a th:href="@{/sub/subDtl(eduSeq=${list.eduSeq})}">
                  <i class="c1" th:classappend="${list.eduType} == 'survey' ? 'ic1' :
                                                (${list.eduType} == 'voice' ? 'ic2' :
                                                (${list.eduType} == 'text' ? 'ic3' :
                                                (${list.eduType} == 'image' ? 'ic4' : '')) ) "></i>
                  <span class="t1" th:text="${list.eduType} == 'survey' ? '설문조사' :
                                                (${list.eduType} == 'voice' ? 'VOICE' :
                                                (${list.eduType} == 'text' ? 'TEXT' :
                                                (${list.eduType} == 'image' ? 'IMAGE' : '')) )"></span>
                  <strong class="t2" th:text="${list.subject}"></strong>
                  <span class="t3" th:text="${list.eduActiveYn} == 'Y' ? '진행중' : '완료'"></span>
                  <span class="t4" th:text="${#numbers.formatInteger(list.point, 0, 'COMMA')}"><i></i></span></a></li>
                </a>
              </li>
            </ul>
          </div>
          <!--/ bList1 -->

          <!-- bfInfo1 -->
          <div class="bfInfo1">

            <!-- pagination -->
            <div class="paging" title="페이지 수 매기기">

              <th:block layout:fragment="paging">
                <nav th:replace="sub/commonSub :: pagination"></nav>
              </th:block>

              <th:block layout:fragment="script">
                <script th:inline="javascript">
						/*<![CDATA[*/

						function movePage(uri, queryString) {
							location.href = uri + queryString;
						}

						/*]]>*/
					</script>
              </th:block>


            </div>
            <!-- /pagination -->

          </div>
          <!-- /bfInfo1 -->

        </div>
        <!-- /#body_content -->
      </div>
      <!-- ◆◆◆ /#body ◆◆◆ -->
    </div>
    <!-- /containers -->

  </div>
  <!--◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆ /#main_wrap ◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆-->

  <hr class="dpn" />

  <!--◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆ /#foot ◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆-->
  <div id="foot" class="init">
    <!-- container -->
    <div class="containers clearfix">
      <h2 class="blind">하단 정보</h2>

      <!-- #fn1 -->
      <div id="fn1">
        <ul class="clearfix">
          <li><a href="#">서비스 소개</a></li>
          <li><a href="#">개인정보처리방침</a></li>
          <li><a href="#">이용약관</a></li>
        </ul>
      </div>
      <!-- /#fn1 -->

      <!-- author1 -->
      <div id="author1">
        <strong class="h1 blind">작성자 (연락처/저작권)</strong>
        <p id="foot_logo"><span class="blind">데이터브릿지</span></p>
        <address class="address">경상남도 창원시 의창구 팔룡동 충혼로 91 창원문성대학교 벤처창업관 케이데이터랩 / 대표전화 : +82-055-980-3388 / 팩스번호 : +82-055-980-3399</address>
        <p class="nophishing">본 사이트에 게시된 이메일주소의 자동수집을 거부하며, 이를 위반 시 정보통신망법에 의해 형사처벌됨을 유념하시기 바랍니다.</p>
        <address class="copyright">COPYRIGHT (C) 2020 BY KDATALAB ALL RIGHTS RESERVED. </address>
      </div>
      <!-- /author1 -->

    </div>
    <!-- /containers -->
  </div>
  <!--◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆ /#foot ◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆-->


</div>
<!--◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇ /#containers ◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇-->


</body>

</html>
