<!doctype html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/layout/head::head(${'회원정보수정'})"/>
    <link rel="stylesheet" href="../assets/css/main.css">
    <style>
        .form-wrapper {
            height: 300px;
        }

        form {
            max-width: 400px;
            width: 100%;
        }
        body {
            letter-spacing: unset;
            min-height: 100vh;
        }
    </style>
</head>
<body class="position-relative">
<!--◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆ #head ◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆-->
<th:block th:insert="fragments/homes/common::common(${'회원정보수정'})"/>
<!--◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆ /#head ◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆-->
<hr class="dpn"/>
<!--◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆ /#head ◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆-->
<div class="container">
    <div class="row pt-5 pb-5">
        <div class="col-3">
            <th:block th:insert="fragments/myPageNavigation::myPageNavi('userInfo')"/>
        </div>
        <div class="col-9">
            <div class="d-flex form-wrapper flex-column justify-content-center align-items-center">
                <form class="d-flex flex-column">

                    <h2 class="h2 font-weight-bold g-font-size-32 mb-4 text-dark">비밀번호 확인</h2>
                    <div class="alert alert-danger d-none"></div>
                    <div class="form-group mb-4">
                        <input type="password" placeholder="Password" class="form-control" id="password">
                    </div>
                    <button type="submit" class="btn bg-primary text-light g-height-60 btn-lg">입력</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script>

    $('form').submit((e) => {
        e.preventDefault()
        const password = $('#password').val();
        const alert = $('.alert')
        if(password.length > 0) {
            $.get("/user/check-password/" + password)
                .done((data) => {
                    window.location.replace("/user/info-edit?code=" + data);
                })
                .fail(() => {
                    alert.removeClass('d-none')
                    alert.text('Incorrect Password')
                })
        }

    })
</script>
</html>