<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check User Password</title>
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="/assets/vendor/popper.js/popper.min.js"></script>
    <script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>
</head>
<body>
    <input id="password" placeholder="input password" type="password">
    <button onclick="checkPassword()">Next</button>
</body>
<script>
    function checkPassword(){
        const password = $('#password').val();
        console.log(password);
        $.get("/user/check-password/"+password, function (data, status) {
            console.log(status)
            if (status) {
                window.location.replace("/user/info-edit?code="+data);
            }else {
                alert("password incorrect")
            }
        })
        ;
    }
</script>
</html>