<!doctype html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/layout/head::head(${'회원정보수정'})"/>
    <link rel="stylesheet" href="../assets/css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        .form-wrapper {
            height: 300px;
        }

        form {
            max-width: 400px;
            width: 100%;
        }
        body {
            letter-spacing: unset;
            min-height: 100vh;
        }
        .spinner-border {
            border-width: 0.15em;
            margin-right: 8px;
        }
    </style>
</head>
<body class="position-relative">
<!--◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆ #head ◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆-->
<th:block th:insert="fragments/homes/common::common(${'회원정보수정'})"/>
<!--◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆ /#head ◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆-->
<hr class="dpn"/>
<!--◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆ /#head ◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆-->
<div class="container">
    <div class="row pt-5 pb-5">
        <div class="col-3">
            <th:block th:insert="fragments/myPageNavigation::myPageNavi('userInfo')"/>
        </div>
        <div class="col-9">
            <div class="d-flex form-wrapper flex-column justify-content-center align-items-center">
                <form class="d-flex flex-column">
                    <h2 class="h2 font-weight-bold g-font-size-32 mb-4 text-dark">비밀번호 확인</h2>
                    <div class="form-group mb-4">
                        <input type="password" placeholder="Password" class="form-control" id="password">
                    </div>
                    <button type="submit" class="b1 default1 m-0">
                        <div id="spinner" class="spinner-border d-none text-light" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        입력
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script>

    $('form').submit((e) => {
        e.preventDefault()
        const password = $('#password').val();
        const alert = $('.alert')
        if(password.length > 0) {
            $('#spinner').removeClass('d-none')
            $.get("/user/check-password/" + password)
                .done((data) => {
                    $('#spinner').addClass('d-none')
                    window.location.replace("/user/info-edit?code=" + data);
                })
                .fail(() => {
                    $('#spinner').addClass('d-none')
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        html: '<p class="g-font-size-24">비밀번호가 일치하지 않습니다.</p>',
                    })
                })
        }

    })
</script>
</html>