<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/layout/head::head('회원정보수정')"/>
    <link rel="stylesheet" href="../assets/css/main.css">
    <style>
        .form-control[type="password"] {
            background-image: unset;
            padding-left: 1rem;
        }
    </style>
    <script type='text/javascript'
            src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
</head>
<body>
<!--◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆ #head ◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆-->
<th:block th:insert="fragments/homes/common::common(${'회원정보수정'})"/>
<!--◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆ /#head ◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆-->
<hr class="dpn"/>
<!--◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆ /#head ◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆-->
<div class="container">
    <div class="row pt-5 pb-5">
        <div class="col-3">
            <th:block th:insert="fragments/myPageNavigation::myPageNavi('userInfo')"/>
        </div>
        <div class="col-9">
            <div class="g-px-60">
                <form th:action="@{/user/info-edit}" th:method="post" id="form">
                    <div class="form-group row align-items-center">
                        <div class="col-3"><label class="font-weight-bold text-dark">아이디</label></div>
                        <div class="col-8 g-font-weight-600" th:text="${user.getLoginId()}"></div>
                    </div>
                    <div class="form-group row align-items-center">
                        <div class="col-3"><label class="font-weight-bold text-dark" for="password">비밀번호: </label></div>
                        <div class="col-8 input-group-lg d-flex flex-column">
                            <input class="form-control" name="password" type="password" id="password"
                                   placeholder="New password">
                        </div>
                    </div>
                    <div class="form-group row align-items-center">
                        <div class="col-3"><label class="font-weight-bold text-dark" for="retypePassword">비밀번호
                            확인:</label></div>
                        <div class="col-8 input-group-lg d-flex flex-column">
                            <input class="form-control" name="retypePassword" type="password"
                                   id="retypePassword" placeholder="Repeat password">
                            <div id="retypePasswordValidation" class="invalid-feedback">비밀번호 불일치</div>
                        </div>
                    </div>
                    <div class="form-group row align-items-center">
                        <div class="col-3"><label class="font-weight-bold text-dark">이름</label></div>
                        <div class="col-8 g-font-weight-600" th:text="${user.name}"></div>
                    </div>
                    <div class="form-group row align-items-center">
                        <div class="col-3">
                            <label class="font-weight-bold text-dark">생년월일</label>
                        </div>
                        <div class="col-8 g-font-weight-600" th:text="${user.getBirthDtFormat()}"></div>
                    </div>
                    <div class="form-group row align-items-center">
                        <div class="col-3">
                            <label class="font-weight-bold text-dark">성별</label>
                        </div>
                        <div class="col-8 g-font-weight-600"
                             th:text="${user.getGenderCd() == 'M' ? '남' : '여'}"></div>
                    </div>
                    <div class="form-group row align-items-center">
                        <div class="col-3"><label class="font-weight-bold text-dark">이메일</label></div>
                        <div class="col-8 input-group-lg d-flex">
                            <div>
                                <input class="form-control" name="email" type="hidden" id="email"
                                       th:value="${user.getEMail()}"/>
                                <input class="form-control" type="text" id="emailStart"
                                       th:value="${user.getEmailStart()}"/>
                                <input th:classappend="${user.getEmailStatus() ? '': 'd-none'}" type="text"
                                       class="form-control" id="customInput" data-inputmask="'alias': 'email'"/>
                                <div id="customEmailValidation" class="invalid-feedback">이메일 불일치</div>
                            </div>
                            <span id="emailChar" class="d-inline-flex align-items-center mx-3 g-height-42">@</span>
                            <select id="emailSelect" class="form-control g-width-120">
                                <option th:selected="${user.getEmailStatus() && user.getEmailLast().equals('naver.com')}" value="naver.com">naver.com</option>
                                <option th:selected="${user.getEmailStatus() && user.getEmailLast().equals('hanmail.net')}" value="hanmail.net">hanmail.net</option>
                                <option th:selected="${!user.getEmailStatus()}" value="0">직접입력</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row align-items-center">
                        <div class="col-3">
                            <label class="font-weight-bold text-dark">전화번호</label>
                        </div>
                        <div class="col-8 g-font-weight-600" th:text="${user.getTel()}"></div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button id="submitButton" type="submit" class="b1 default1 m-0 g-min-width-110">
                            저장
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function () {
        $("#customInput").inputmask();
        const isPasswordValid = () => {
            const password = $('#password').val();
            const retypePassword = $('#retypePassword').val()
            return password === retypePassword
        }

        $('#retypePassword').blur(function () {
            const password = $('#password').val();
            const retypePassword = $('#retypePassword');
            const retypePasswordValidation = $('#retypePasswordValidation')
            if (password.length > 0) {
                if (!isPasswordValid()) {
                    retypePassword.addClass('is-invalid')
                    retypePasswordValidation.addClass('d-block')
                } else {
                    retypePassword.removeClass('is-invalid')
                    retypePasswordValidation.removeClass('d-block')
                }
            }
        })

        $('#password').change(e => {
            const retypePasswordValidation = $('#retypePasswordValidation')
            const retypePassword = $('#retypePassword');
            if (retypePassword.val().length > 0) {
                if (e.target.value === retypePassword.val()) {
                    retypePassword.removeClass('is-invalid')
                    retypePasswordValidation.removeClass('d-block')
                } else {
                    retypePassword.addClass('is-invalid')
                    retypePasswordValidation.addClass('d-block')
                }
            }
        })

        $('#emailSelect').change(e => {
            const emailChar = $('#emailChar')
            const emailStart = $('#emailStart')
            const customEmail = $('#customInput')
            const customEmailValidation = $('#customEmailValidation')
            if (e.target.value === '0') {
                emailChar.addClass('opacity-0')
                emailStart.addClass('d-none')
                customEmail.removeClass('d-none')
            } else {
                emailChar.removeClass('opacity-0')
                emailStart.removeClass('d-none')
                customEmail.addClass('d-none')
                customEmail.removeClass('is-invalid')
                customEmailValidation.removeClass('d-block')
            }
        })

        $('#emailStart').on('input', e => {
            const email = $('#email')
            const emailSelect = $('#emailSelect')
            email.val(`${e.target.value}@${emailSelect.val()}`)
        })

        $('#customInput').on('input', e => {
            const email = $('#email')
            email.val(e.target.value)
        })

        const mailRegex = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/
        $('#form').submit(e => {
            const emailSelect = $('#emailSelect')
            const retypePassword = $('#retypePassword');
            const retypePasswordValidation = $('#retypePasswordValidation')
            const customEmail = $('#customInput')
            const customEmailValidation = $('#customEmailValidation')

            if (!isPasswordValid()) {
                e.preventDefault()
                retypePassword.addClass('is-invalid')
                retypePasswordValidation.addClass('d-block')
                return
            } else {
                retypePassword.removeClass('is-invalid')
                retypePasswordValidation.removeClass('d-block')
            }

            if (emailSelect.val() === '0' && !customEmail.val().match(mailRegex)) {
                customEmailValidation.addClass('d-block')
                customEmail.addClass('is-invalid')
                e.preventDefault()
            } else {
                customEmailValidation.removeClass('d-block')
                customEmail.removeClass('is-invalid')
            }
        })
    });

</script>
</html>