<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="adminPageNavi(activeType)">
    <div class="list-group list-group-flush">
        <a th:classappend="${activeType == 'list' ? 'text-primary font-weight-bold' : ''}" href="/mypage"
           class="list-group-item g-font-size-35">
            작업 목록
        </a>
        <a th:classappend="${activeType == 'form' ? 'text-primary font-weight-bold' : ''}" href="/point-history"
           class="list-group-item g-font-size-35">작업 등록</a>
    </div>
</th:block>