<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project Registration Step 2</title>
</head>
<body>
<div>
    <table>
        <thead>
            <tr>
                <th th:value="'NO'">NO</th>
                <th th:value="'태스크명'">Task name</th>
                <th th:value="'작업 유저 할당'">Assign task user</th>
                <th th:value="'검수자 할당(관리자)'">Assign Checker (Administrator)</th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${tasks.isEmpty()}">
                <td colspan="2">Something Error</td>
            </tr>
            <tr th:each="task, number : *{tasks}">
                <td><span th:text="${number.count}"></span></td>
                <td><span th:text="${task.taskName}"></span></td>
                <td>
                    <select name="users" th:field="*{users}">
                        <option  th:text="${task.getLoginId()==null? 'unassigned': task.getTaskName()}" th:value="${task.getLoginId()}" selected></option>
                        <option th:each="user: ${users}" th:value="${user.getLoginId()}" th:text="${user.getName()}"></option>
                    </select>
                </td>
                <td>
                    <select name="admin" th:field="*{admins}">
                        <option th:each="admin: ${admins}" th:value="${admin.getLoginId()}" th:text="${admin.getName()}"></option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>