@charset "utf-8";

/* ◇◆ @font-face ◇◆ */


@font-face {
	font-family: 'NanumSquare';
	font-weight: 100;
	src: url(../font/Nanum/NanumSquareL.woff);
	src: local('?'),
				url(../font/Nanum/NanumSquareL.woff) format('woff');
}
@font-face {
	font-family: 'NanumSquare';
	font-weight: 400;
	src: url(../font/Nanum/NanumSquareR.woff);
	src: local('?'),
				url(../font/Nanum/NanumSquareR.woff) format('woff');
}
@font-face {
	font-family: 'NanumSquare';
	font-weight: 700;
	src: url(../font/Nanum/NanumSquareB.woff);
	src: local('?'),
				url(../font/Nanum/NanumSquareB.woff) format('woff');
}
@font-face {
	font-family: 'Titillium';
	font-weight: 100;
	src: url(../font/Titillium/TitilliumWeb-Light.woff);
	src: local('?'),
				url(../font/Titillium/TitilliumWeb-Light.woff) format('woff');
}
@font-face {
	font-family: 'Titillium';
	font-weight: 400;
	src: url(../font/Titillium/TitilliumWeb-Regular.woff);
	src: local('?'),
				url(../font/Titillium/TitilliumWeb-Regular.woff) format('woff');
}
@font-face {
	font-family: 'Titillium';
	font-weight: 700;
	src: url(../font/Titillium/TitilliumWeb-Bold.woff);
	src: local('?'),
				url(../font/Titillium/TitilliumWeb-Bold.woff) format('woff');
}
@font-face {
	font-family: 'BMDOHYEON';
	font-weight: 400;
	src: url(../font/BM/BMDOHYEON.woff);
	src: local('?'),
				url(../font/BM/BMDOHYEON.woff) format('woff');
}
